* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("images/odinwp.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  text-align: center;
}

.main-title {
  font-size: 55px;
  color: #66f2f3
}

.recipe {
  margin-top: 150px;
  float: left;
  margin-left: 5.5%;
  background-color: #004ef6;
}

.image {
  height: 200px;
  width: 260px;
}

.imgtxt {
  font-size: 20px;
  font-weight: bolder;
  width: 260px;
  overflow-wrap: break-word;  
  text-align: center;
}

.recipe, .image {
  border-radius: 35px;
}

.r1 .imgtxt {
  color: rgb(255, 225, 0);
}

.r2 .imgtxt {
  color: rgb(255, 255, 255);
}
.r3 .imgtxt{
  color: rgb(9, 206, 9);
}

